body{
    background-color: brown;
}
#titulo1{
    background-color: blueviolet;
    color: rgb(34, 173, 41);
    text-align: center;
}
div{
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}